* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main {
    flex: 1 0 auto;
    width: 100%;
    box-sizing: border-box;
}

footer {
    flex-shrink: 0;
}

body {
    background-color: #FFF7F0;
    padding: 16px;
}

.logo img {
    width: 48px;
    height: 48px;
}

.consult {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule {
    width: 176px;
    height: 44px;
    background-color: black;
    border-radius: 28px;
    border: none;
    color: white;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 16px;
    margin-top: 32px;
}

.solutions {
    text-align: center;
    margin-bottom: 64px;
}

.solutions p {
    line-height: 26px;
    color: #7A746E;
}

.options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.graphic {
    background-color: #755CDE;
    height: 364px;
    border-radius: 8px;
    margin-bottom: 24px;
    position: relative;
    background-image: url(../images/pattern-graphic-design.svg);
    background-position: right 24px top 24px;
    background-repeat: no-repeat;
}

.ux {
    background-color: #F6A560;
    height: 182px;
    border-radius: 8px;
    flex-basis: 49%;
    margin-right: 24px;
    position: relative;
    background-image: url(../images/pattern-ui-ux.svg);
    background-position: right 24px top 24px;
    background-repeat: no-repeat;
}

.apps {
    background-color: #F39E9E;
    height: 182px;
    border-radius: 8px;
    flex-basis: 49%;
    position: relative;
    background-image: url(../images/pattern-apps.svg);
    background-position: right 24px top 24px;
    background-repeat: no-repeat;
}

.ux-apps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.illustrations {
    background-color: #EB7565;
    height: 158px;
    border-radius: 8px;
    margin-top: 24px;
    position: relative;
    background-image: url(../images/pattern-illustrations.svg);
    background-position: right 24px top 24px;
    background-repeat: no-repeat;
}

.photography {
    background-color: #61C4B7;
    height: 182px;
    border-radius: 8px;
    margin-top: 24px;
    position: relative;
    background-image: url(../images/pattern-photography.svg);
    background-position: right 24px top 24px;
    background-repeat: no-repeat;
}

.motion {
    background-color: #552049;
    height: 182px;
    border-radius: 8px;
    margin-top: 24px;
    position: relative;
    background-image: url(../images/pattern-motion-graphics.svg);
    background-position: right 24px top 24px;
    background-repeat: no-repeat;
}

.bottom {
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}


/* -----------------------------------Tablet for the first half of the page-----------------------------*/

@media only screen and (min-width:768px) {
    body {
        padding: 39px;
    }
    .logo img {
        width: 64px;
        height: 64px;
    }
    .schedule {
        width: 228px;
        height: 56px;
        font-size: 16px;
        line-height: 28px;
    }
    h1 {
        font-weight: bold;
        font-size: 44px;
    }
    .first {
        display: flex;
        flex-direction: row;
    }
    .graphic {
        flex-basis: 50%;
        margin-right: 24px;
    }
    .first-other {
        flex-basis: 50%;
    }
    .second {
        display: flex;
        flex-direction: row;
    }
    .photography {
        flex-basis: 50%;
        margin-right: 24px;
        margin-top: 0;
    }
    .motion {
        flex-basis: 50%;
        margin-top: 0;
    }
}

@media only screen and (min-width:1440px) {
    body {
        padding: 165px;
    }
    h1 {
        font-size: 56px;
    }
    .options {
        display: flex;
        flex-direction: row;
    }
    .first {
        flex-basis: 50%;
    }
    .second {
        flex-basis: 50%;
        flex-direction: column;
        margin-left: 24px;
    }
    .photography {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .graphic {
        margin-bottom: 0;
    }
}


/*------------------------Second half of the page----------------------------------------*/

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}

.avatar img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

h2 {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.bio p {
    font-size: 16px;
    line-height: 26px;
    color: #7A746E;
    margin-bottom: 24px;
}

.red {
    background-color: #EB7565;
}

@media only screen and (min-width:768px) {
    .avatar img {
        width: 364px;
        height: 364px;
        margin-left: -70px;
        margin-right: 69px;
    }
    .intro {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 120px;
        text-align: left;
    }
    h2 {
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 24px;
    }
    .bio p {
        font-size: 18px;
        line-height: 28px;
    }
}

@media only screen and (min-width:1440px) {
    .avatar img {
        width: 445px;
        height: 445px;
        margin-left: 0;
        margin-right: 125px;
    }
    h2 {
        font-size: 40px;
        margin-bottom: 34px;
    }
    .bio p {
        margin-bottom: 32px;
    }
}


/* --------------------SLideshow----------------*/

.mySlides {
    display: none;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
}

.mySlides img {
    width: 270px;
    border-radius: 16px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
}

#gallery {
    margin-top: 100px;
    text-align: center;
}

.slideshow-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-left: -16px;
    margin-right: -16px;
    justify-content: center;
}

.prev,
.next {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: black;
    color: white;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.prev img,
.next img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next {
    margin-left: 16px;
}

@media only screen and (min-width:768px) {
    .mySlides img {
        width: 540px;
    }
    .slideshow-container {
        margin-left: -39px;
        margin-right: -39px;
    }
}

@media only screen and (min-width:1440px) {
    .slideshow-container {
        margin-left: -165px;
        margin-right: -165px;
    }
}